<div class="weather panel panel-default">
    <div class="panel-heading">{{ parseDate(useDayForecast.dt) | date:'fullDate'}}</div>
    <div class="panel-body">
        <h2>{{useDayForecast.weather[0].main}} {{useDayForecast.temp.day | number:1}}°C</h2>
        <p class="lead">
            <img ng-src="{{getIconImageUrl(useDayForecast.weather[0].icon)}}" />
            {{useDayForecast.weather[0].description}}
        </p>
        <p>
            <table class="table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Temp min</th>
                        <th>Temp max</th>
                        <th>Humidity</th>
                        <th>Pressure</th>
                        <th>Wind</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{useDayForecast.temp.min}}°C</td>
                        <td>{{useDayForecast.temp.max}}°C</td>
                        <td>{{useDayForecast.humidity}}%</td>
                        <td>{{useDayForecast.pressure}} hPa</td>
                        <td>{{useDayForecast.speed}} km/h</td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>
