<div class="container">
    <div class="weather-search">
        <div class="row">
            <div class="col-xs-12">
                <div class="lead">
                    <form class="form-inline" role="form">
                        <div class="form-group {{hasState}}">
                            <label class="sr-only" for="location">City</label>
                            <input ng-model="location" type="text" class="form-control" id="location" placeholder="City">
                        </div>
                        <button ng-click="getForecastByLocation()" type="submit" class="btn btn-primary" style="opacity: 1">Show me!</button>
                        <span class="form-group" ng-show="message">
                            <span class="alert"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;{{message}}</span>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="weather-data" ng-show="true">
        <div class="row">
            <div class="col-xs-12">
                <div class="well well-sm">
                    <h2>{{forecast.city.name}}</h2>
                    <small>Lon: {{forecast.city.coord.lon | number:2}} Lat: {{forecast.city.coord.lat | number:2}} Population: {{forecast.city.population | number:0}}</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div weather-panel="forecast" show-num="1" show-entry="forecast.list[0]"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div weather-panel="forecast" show-num="1" show-entry="forecast.list[1]"></div>
            </div>
            <div class="col-xs-4">
                <div weather-panel="forecast" show-num="2" show-entry="forecast.list[2]"></div>
            </div>
            <div class="col-xs-4">
                <div weather-panel="forecast" show-num="3" show-entry="forecast.list[3]"></div>
            </div>
        </div>
    </div>
</div>
